.sidebar {
    width: 222px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto;
    .user {
        height: 76px;
        width: calc(100% - 30px);
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #478da5;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .name {
            width: calc(100% - 30px);
            text-align: center;
        }
    }
    .search {
        width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;
        img {
            position: absolute;
            pointer-events: none;
            left: 10px;
            top: 8px;
        }
        input {
            width: calc(100% - 40px);
            background-color: transparent;
            height: 100%;
            height: 28px;
            border-radius: 4px;
            padding: 0 10px 0 30px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .title {
        height: 49px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        width: calc(100% - 20px);
        margin: 0 auto 10px auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i {
            display: block;
            width: 10px;
            height: 10px;
            background-color: #478da5;
        }
        .name {
            text-align: right;
            width: calc(100% - 10px);
        }
    }
    .org {
        .item {
            height: 41px;
            width: calc(100% - 20px);

            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;
            &.active {
                background-color: #e8e8e8;
            }
            img {
                width: 20px;
                height: 20px;
            }
            .name {
                width: calc(100% - 32px);
                padding-left: 12px;
            }
        }
        .add {
            height: 41px;
            width: calc(100% - 20px);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;
            img {
                width: 15px;
                height: 15px;
            }
            .name {
                width: calc(100% - 15px);
                color: #ccc;
                text-align: center;
            }
        }
    }
}
.select {
    margin-left: 15px;
    cursor: pointer;
}
@media screen and (max-width: 475px) {
    .sidebar {
        display: none;
    }
}
